body {
    font-family: 'Inconsolata', monospace;
    color: #444444;
}

.container {
    margin: 0 auto;
    max-width: 640px;
    padding: 1em;
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: #444444;
        color: #ffffff;
    }

    a {
        color: #dcdcdc;
    }
}