---
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <h1>Saverio Tassinari</h1>

  <p>Tech Lead with a full-stack foundation and 10+ years of experience.</p>

  <p>
    I care about building meaningful, user-focused products and working closely
    with cross-functional teams. I’m especially interested in the space where
    engineering, product, and design meet.
  </p>

  <p>View my <a href="/cv">full curriculum vitae</a>.</p>

  <p>External links:</p>

  <ul>
    <li>
      <a href="https://www.linkedin.com/in/saverio-tassinari-38812583/"
        >LinkedIn</a
      >
    </li>
    <li><a href="https://github.com/stassinari">Github</a></li>
  </ul>
</Layout>
