---

---

<div class="container p-4 mx-auto max-w-2xl">
  <h1 class="text-3xl my-8">Saverio Tassinari</h1>
  <h2 class="text-2xl mb-4">Senior software engineer and team lead</h2>

  <p class="uppercase">Disclaimer:</p>
  <p></p>This personal site is under construction.

  <p class="mt-8">
    If you need to get in touch, use one of the social handles below:
  </p>

  <ul class="my-4 list-disc list-inside">
    <li>
      <a href="https://www.linkedin.com/in/saverio-tassinari-38812583/"
        >LinkedIn</a
      >
    </li>
    <li><a href="https://www.facebook.com/saverio.tassinari">Facebook</a></li>
    <li><a href="https://twitter.com/stassinari">Twitter</a></li>
    <li><a href="https://github.com/stassinari">Github</a></li>
  </ul>

  <p>or wait for this to be prettier :)</p>
</div>
