---

---

<div class="container">
  <h1>Saverio Tassinari</h1>
  <h2>Senior software engineer and team lead</h2>

  <p>DISCLAIMER:<br />This personal site is under construction.</p>

  <p>If you need to get in touch, use one of the social handles below:</p>

  <ul>
    <li>
      <a href="https://www.linkedin.com/in/saverio-tassinari-38812583/"
        >LinkedIn</a
      >
    </li>
    <li><a href="https://www.facebook.com/saverio.tassinari">Facebook</a></li>
    <li><a href="https://twitter.com/stassinari">Twitter</a></li>
    <li><a href="https://github.com/stassinari">Github</a></li>
  </ul>

  <p>or wait for this to be prettier :)</p>
</div>

<style>
  body {
    font-family: "Inconsolata", monospace;
    color: #444444;
  }

  .container {
    margin: 0 auto;
    max-width: 640px;
    padding: 1em;
  }

  @media (prefers-color-scheme: dark) {
    body {
      background-color: #444444;
      color: #ffffff;
    }

    a {
      color: #dcdcdc;
    }
  }
</style>
