<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />

    <meta
      name="description"
      content="Saverio Tassinari. At work I'm a backend, front-end, and DevOps dev. At home I have too many passions to list here."
    />
    <meta name="author" content="Saverio Tassinari" />
    <meta
      name="keywords"
      content="Saverio Tassinari, Tech Lead, Software Engineer, Backend, Frontend, DevOps"
    />

    <link
      rel="icon"
      media="(prefers-color-scheme:dark)"
      type="image/svg+xml"
      href="/favicon_light.svg"
    />
    <link
      rel="icon"
      media="(prefers-color-scheme:light)"
      type="image/svg+xml"
      href="/favicon_dark.svg"
    />
    <meta name="generator" content={Astro.generator} />

    <title>Saverio Tassinari - Tech Lead</title>
  </head>
  <body>
    <slot />
  </body>
</html>

<style>
  html,
  body {
    margin: 0;
    width: 100%;
    height: 100%;
  }
</style>
